* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContent {
    padding: 20px;
    background: #C4C4C4;
}

.headerContent .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 100%;
}

.headerContent .menu .menuLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 8%;
}

.headerContent .menu .menuLinks .botao,
.headerContent .menu .menuLinks .botaoSair {
    text-decoration: none;

    color: #fff;
    background: #F24E1E;

    padding: 13px 15px;
    margin-right: 5px;
    border: none;
    border-radius: 50%;
}