* {
  box-sizing: border-box;
  margin: 0;
}
body {
  height: 100%;
}
main{
  height: 100%;

}
.container {
  margin: 2rem 1rem;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sucess {
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 48px;
  text-align: center;
}
.icon-sucess {
  width: 173px;
  height: 173px;
}

.reserved {
  margin-top: 1%;
  color: rgba(0, 0, 0, 1);
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  text-align: center;
  width: 35%;
}
header{
  background-color: rgba(196, 196, 196, 1);
}
.header{
  display:flex;
  justify-content: space-between;
  margin: auto 5%;
  padding: 1% 0;
  height: auto;
  align-items: center;
}
.logo-img {
  width: 161px;
  color: rgba(242, 78, 30, 1);
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.icon {
  width: 65px;
  height: 65px;
  background: rgba(242, 78, 30, 1);
  opacity: 1;
  border-radius: 50%;
}
.buttons-container{
  margin-top: 5%;
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn{
  background-color: rgba(196, 196, 196, 1);
  border: none;
  border-radius: 45px;
  width: 160px;
  height: 38px;
}
.btn span{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 1.3rem;
}
