* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerContent {
    padding: 20px;
    background: #F24E1E;
}

.headerContent .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.Logo {
    max-width: 200px;
    max-height: 150px;
    width: auto;
    height: auto;
    margin-left: -10px;
    position: absolute;
    left: 150px;
    width: 300px;
}

.headerContent .menu .menuLinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.Office {
    text-align: center;
    font-family: 'Montserrat';
}

h1 {
    color: #F24E1E;
    font-size: 40px;
    padding-top: 20px;
}

h2 {
    font-size: 20px;
    padding-top: 10px;
}

.h3 {
    text-align: left;
    font-size: 20px;
}

h4 {
    font-size: 20px;
}

.mapas {
    font-family: 'Montserrat';
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.mapinhas {
    width: 540px;
    height: 173px;
}

.proximo {
    text-decoration: none;
    color: #fff;
    background: #404099;
    cursor: pointer;
    padding: 15px 62px;
    border: none;
    padding-top: 20px;
    text-align: center;
    font-family: 'Montserrat';
    margin-top: 15px;
}